org-management/
**/.terraform/*
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl
lab-gke/environments/prod/.terraform
lab1-vpc/environmentsdev/.terraform
data.txt
lab-gke.tar.gz
lab1-vpc.tar.gz
project-factory.tar.gz